.comparison {
  margin-bottom: 90px;

  &-flex {
    display: flex;
    align-items: flex-end;
    border-bottom: 0.5px solid #E5E5E5;

    & + .comparison-flex {
      p {
        margin-top: 9px;
      }

      .comparison-item {
        b {
          opacity: 0;
        }
      }
    }
  }

  &-block {
    max-width: 252px;
    padding: 18px;
    width: 100%;
    margin-right: 62px;

    button {
      text-decoration-line: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-item {
    max-width: 260px;
    width: 100%;
    padding: 18px;
    margin-right: 40px;
    position: relative;
    border-left: 0.5px solid #E5E5E5;
  }

  &-img {
    width: 155px;
    height: 129px;
    margin: 0 auto 19px;

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  &-delete {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-title {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2px;

    & + p {
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 14px;
      color: #616161;
    }
  }

  &-price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
}
