.wildSand {
  background: #f6f6f6;
}

.new {
  background: #dbfabd;
}

.stock {
  background: #fdc4bc;
}

.popular {
  background: #fdd292;
}

img {
  object-fit: contain;
}

.twilightBlue {
  background: #f1fcff;
}

* {
  outline: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/Open Sans Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/Open Sans Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/Open Sans Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSansSemibold";
  src: url("../fonts/Open Sans Semibold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/Segoe UI Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUISemilight";
  src: url("../fonts/Segoe UI Semilight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.OpenSansBold {
  font-family: "OpenSansBold", sans-serif;
}

.OpenSansRegular {
  font-family: "OpenSansRegular", sans-serif;
}

.OpenSansLight {
  font-family: "OpenSansLight", sans-serif;
}

.OpenSansSemibold {
  font-family: "OpenSansSemibold", sans-serif;
}

.SegoeUIBold {
  font-family: "SegoeUIBold", sans-serif;
}

.SegoeUISemilight {
  font-family: "SegoeUISemilight", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  background: #fff;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

a,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-top {
  margin-top: 27px;
  margin-bottom: 6px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-top-nav {
  display: flex;
  align-items: center;
}
.header-top-nav-item {
  font-size: 12px;
  margin-right: 24px;
  line-height: 16px;
}
.header-top-contacts {
  display: flex;
  align-items: flex-end;
}
.header-top-contacts-phone {
  line-height: 20px;
  margin-right: 13px;
}
.header-top-contacts-call {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  transition: all 0.2s;
}
.header-top-contacts-call:hover {
  text-decoration: none;
  transition: all 0.2s;
}
.header-background {
  background: #000;
  padding: 9px 0 10px;
}
.header-background .container {
  justify-content: space-between;
}
.header-background-search {
  display: flex;
  align-items: center;
  max-width: 551px;
  width: 100%;
  margin-right: 200px;
}
.header-background-search-input {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px solid #fff;
  width: 100%;
  margin-right: 5px;
}
.header-background-search-input::-webkit-input-placeholder {
  color: #fff;
}
.header-background-search-input:-ms-input-placeholder {
  color: #fff;
}
.header-background-search-input::-ms-input-placeholder {
  color: #fff;
}
.header-background-search-input::placeholder {
  color: #fff;
}
.header-background-login {
  display: flex;
  align-items: center;
  color: #fff;
}
.header-background-login svg {
  margin-right: 10px;
}
.header-background-login-button {
  color: #b8b8b8;
  font-size: 13px;
  line-height: 18px;
}
.header-background-login-button-white {
  color: #fff;
}
.header-background-flex {
  display: flex;
  align-items: center;
}
.header-bottom {
  background: #282828;
}
.header-bottom-nav {
  display: flex;
  align-items: center;
}
.header-bottom-nav-item {
  line-height: 20px;
  color: #fff;
  margin-right: 68px;
}
.header-bottom-nav-item.active, .header-bottom-nav-item:hover {
  color: #717070;
}
.header-bottom-buttons {
  display: flex;
  align-items: center;
}
.header-bottom-buttons button {
  margin-left: 35px;
}
.header-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0 12px;
}

.customBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.banner {
  background: #2c2c2c;
  margin-top: 38px;
}
.banner-slider {
  height: 562px;
  position: relative;
}
.banner-slider-item {
  height: 562px;
  display: flex !important;
  align-items: flex-end;
  justify-content: space-between;
}
.banner-slider-item-image {
  margin-right: 100px;
}
.banner-slider-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.banner-slider-item-info-text {
  color: #fff;
  font-family: "SegoeUISemilight", sans-serif;
  font-weight: 100;
  font-size: 33px;
}
.banner-slider-item-info-title {
  font-family: "SegoeUIBold", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 50px;
  margin: 3px 0 9px;
}
.banner-slider-item-info-desc {
  color: #fff;
  margin-bottom: 57px;
}
.banner-slider-item-info-more {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 65px;
  border: 1px solid #fff;
  margin-bottom: 227px;
}
.banner-slider-item-info-more:hover {
  background: #fff;
  color: #2c2c2c;
}
.banner-slider-pull-right {
  transform: translateY(-50%) rotate(-180deg);
  right: -25px;
}
.banner-slider-pull-right:hover svg path {
  stroke: #fff;
}
.banner-slider-pull-left {
  left: -25px;
}
.banner-slider-pull-left:hover svg path {
  stroke: #fff;
}
.banner-slider .slick-dots {
  display: flex !important;
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: rotateY(-50%);
}
.banner-slider .slick-dots li {
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
  transition: all 0.3s;
}
.banner-slider .slick-dots li.slick-active, .banner-slider .slick-dots li:hover {
  background: #fff;
}
.banner-slider .slick-dots button {
  font-size: 0;
}

.products {
  margin-top: 76px;
  margin-bottom: 50px;
  padding-bottom: 100px;
  border-bottom: 0.3px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
}
.products-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products-column .flex {
  display: flex;
  justify-content: space-between;
}
.products-column .flex .wildSand + .wildSand img {
  width: 146px;
  margin-left: auto;
  margin-right: 17px;
}
.products-column-item {
  width: 268px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products-column-item.twilightBlue img {
  margin-right: auto;
  width: 164px;
  margin-left: 15px;
}
.products-column-item-title {
  margin: 20px 0 1px 22px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}
.products-column-item-total {
  font-weight: 300;
  line-height: 20px;
  margin-left: 22px;
}
.products-column-item-height {
  background: #fff6e8;
  height: 579px;
}
.products-column-item-height img {
  width: 95%;
  margin-left: auto;
}
.products-column-item-width {
  width: 569px;
  position: relative;
}
.products-column-item-width.twilightBlue img {
  position: absolute;
  width: 100%;
  right: 0;
  max-width: 478px;
}

.main-responsive-line {
  border-bottom: 0.3px solid #c4c4c4;
  margin-bottom: 50px;
  margin-top: 100px;
}
.main-responsive-title {
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: normal;
}
.main-responsive-slider {
  margin: 0 -15px;
}
.main-responsive-slider .slick-slide {
  margin: 0 15px;
}
.main-responsive-slider-button-left {
  left: -15px;
}
.main-responsive-slider-button-right {
  right: -15px;
  transform: translateY(-50%) rotate(-180deg);
}
.main-responsive-slider-button-left:hover svg path, .main-responsive-slider-button-right:hover svg path {
  stroke: #000;
}
.main-responsive-slider-item {
  border: 1px solid #e5e5e5;
  padding: 30px 0 24px 0;
  position: relative;
  display: flex !important;
  flex-direction: column;
}
.main-responsive-slider-item-rating {
  position: absolute;
  top: 13px;
  right: 9px;
}
.main-responsive-slider-item-label {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
}
.main-responsive-slider-item-image {
  height: 165px;
  display: flex;
  align-items: flex-end;
}
.main-responsive-slider-item-image img {
  margin: auto auto 0;
}
.main-responsive-slider-item-name {
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  height: 40px;
  padding-bottom: 27px;
  border-bottom: 0.5px solid #e5e5e5;
  margin: 5px 12px 17px 15px;
}
.main-responsive-slider-item-price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.main-responsive-slider-item-button {
  width: 220px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #000;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: transparent;
  margin: 0 auto 14px;
}
.main-responsive-slider-item-button:hover {
  background: #000;
  color: #fff;
}
.main-responsive-slider-item-text {
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  padding-bottom: 23px;
  border-bottom: 0.5px solid #e5e5e5;
  margin-bottom: 7px;
  margin-left: 15px;
  margin-right: 12px;
}
.main-responsive-slider-item-text-notfound {
  color: #cf2828;
}
.main-responsive-slider-item-flex {
  display: flex;
  align-items: flex-start;
  margin-top: 11px;
  margin-left: 21px;
  margin-right: 12px;
}
.main-responsive-slider-item-flex p {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-right: 15px;
}

.news {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.3px solid #c4c4c4;
  position: relative;
  margin: 0 -15px 100px;
}
.news:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 5px;
  background: #fff;
  left: 0;
  bottom: -5px;
}
.news-all {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: underline;
  background: #fff;
  padding: 0 20px;
}
.news-item {
  width: 269px;
  margin-bottom: 46px;
}
.news-item-image {
  width: 100%;
  height: 176px;
  object-fit: cover;
}
.news-item-title {
  font-weight: 600;
  line-height: 20px;
  height: 40px;
  margin: 22px 0 7px;
}
.news-item-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 7px;
}
.news-item-date {
  color: #616161;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
}

.our-store {
  position: relative;
  padding-left: 96px;
}
.our-store:before {
  content: url("./images/apple.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 67px;
  height: 70px;
}
.our-store-text {
  margin: 0 0 12px;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}
.our-store-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin: 0 0 25px;
}
.our-store-advantage {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.our-store-advantage-item {
  max-width: 159px;
}
.our-store-advantage-item-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin: 15px 0 5px;
}
.our-store-advantage-item-desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 55px;
}
.our-store-advantage-item-image {
  width: 120px;
  height: 93px;
  background: #000;
  margin: 39px auto 0;
}
.our-store-advantage-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: #000;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 47px;
  border-bottom: 0.3px solid #c4c4c4;
}
.footer-top-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin: 0 0 8px;
  color: #fff;
}
.footer-top-text {
  line-height: 20px;
  color: #fff;
  font-family: "OpenSansLight", sans-serif;
}
.footer-top-form {
  display: flex;
  width: 600px;
  height: 50px;
}
.footer-top-form-input {
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 20px;
  border: none;
  padding: 0 13px;
}
.footer-top-form-input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.footer-top-form-input:-ms-input-placeholder {
  color: #c4c4c4;
}
.footer-top-form-input::-ms-input-placeholder {
  color: #c4c4c4;
}
.footer-top-form-input::placeholder {
  color: #c4c4c4;
}
.footer-top-form-submit {
  background: #fff;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-left: 1px solid #000;
  cursor: pointer;
  padding: 16px 54px;
}
.footer-top-form-submit:hover {
  background: #000;
  color: #fff;
}
.footer-links {
  display: flex;
  align-items: center;
  padding: 18px 0 13px;
  border-bottom: 0.3px solid #c4c4c4;
  justify-content: space-between;
}
.footer-links-item {
  margin-right: 20px;
}
.footer-links-item:last-child {
  margin-right: 10px;
}
.footer-links-items {
  display: flex;
  align-items: center;
}
.footer-links-items-label {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-right: 30px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 31px 0 15px;
  border-bottom: 0.3px solid #c4c4c4;
}
.footer-bottom-last-item {
  width: 180px;
}
.footer-bottom-last-item svg + svg {
  margin-left: 10px;
}
.footer-bottom-nav-title {
  font-weight: 600;
  line-height: 20px;
  color: #fff;
  margin-bottom: 8px;
  margin-top: 0;
}
.footer-bottom-nav li {
  color: #717070;
  margin-top: 4px;
  font-size: 13px;
  line-height: 18px;
}
.footer-bottom-nav li:hover {
  color: #fff;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 20px;
}
.footer-copyright-text {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  display: flex;
  align-items: flex-start;
}
.footer-copyright-text + p {
  align-items: center;
}
.footer-copyright-text + p img {
  margin-left: 10px;
}

.breadcrumb {
  display: flex;
  margin: 22px 0 0;
  padding: 0;
}
.breadcrumb-item {
  font-size: 12px;
  line-height: 16px;
  color: #717070;
}
.breadcrumb-item.active {
  color: #c4c4c4;
}
.breadcrumb-item.active:after {
  content: "";
}
.breadcrumb-item:after {
  content: "/";
}

.catalog {
  display: flex;
  align-items: flex-start;
  padding-top: 62px;
}
.catalog-right {
  width: 100%;
}
.catalog-right-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -26px;
}
.catalog-right-items .main-responsive-slider-item {
  margin-bottom: 50px;
}
.catalog-range-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-left {
  width: 262px;
  margin-right: 33px;
}
.catalog-left-form {
  padding-bottom: 13px;
  border-bottom: 0.3px solid #c4c4c4;
  margin-bottom: 32px;
  position: relative;
}
.catalog-left-form-reset {
  font-size: 13px;
  line-height: 18px;
  text-decoration: underline;
  font-family: "OpenSansLight", sans-serif;
}
.catalog-left-form-reset:hover {
  text-decoration: none;
}
.catalog-left-form-help {
  position: absolute;
  top: 0;
  right: 0;
}
.catalog-left-form-num {
  color: #717070;
}
.catalog-left-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 14px;
  margin-top: 0;
}
.catalog-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  margin: 0;
}
.catalog-sort {
  display: flex;
  margin: 19px 0 50px;
  padding: 20px 0;
  border-bottom: 0.3px solid #c4c4c4;
  border-top: 0.3px solid #c4c4c4;
}
.catalog-sort-title {
  color: #717070;
  margin-right: 24px;
  line-height: 20px;
}
.catalog-sort-button {
  margin-right: 29px;
}
.catalog-sort-button.sorted svg {
  transform: rotate(-180deg);
}

.form-group {
  margin-bottom: 14px;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group input[type=checkbox] {
  display: none;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 12px;
}
.form-group input:checked + label:after {
  content: url("./images/checked.png");
  display: block;
  position: absolute;
  top: 52%;
  left: 5px;
  transform: translateY(-50%);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 30px;
  border-top: 0.3px solid #c4c4c4;
  margin-bottom: 100px;
}
.pagination-pages {
  display: flex;
  align-items: center;
}
.pagination-page {
  margin-right: 27px;
  line-height: 20px;
  text-align: center;
  color: #717070;
}
.pagination-page:hover {
  color: #000;
}
.pagination-page.active {
  color: #000;
  font-size: 20px;
  line-height: 27px;
}
.pagination-page:last-child {
  margin-right: 0;
}
.pagination-items {
  display: flex;
  align-items: center;
}
.pagination-items > * {
  margin-right: 27px;
}
.pagination-button {
  height: 15px;
  display: flex;
  align-items: center;
}
.pagination-button.disbled {
  display: none;
}
.pagination-button svg {
  margin: auto;
}
.pagination-prev, .pagination-first {
  transform: rotate(-180deg);
}
.pagination-info {
  color: #717070;
  line-height: 20px;
}

input[type=range] {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 15px 0 0;
  padding: 0;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: #c4c4c4;
  height: 2px;
  pointer-events: none;
}
input[type=range]:active, input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c4c4c4;
  position: relative;
  margin: 5px 0;
  cursor: pointer;
  appearance: none;
  pointer-events: all;
}

.rangeslider {
  position: relative;
  height: 50px;
}
.rangeslider-inputs {
  display: flex;
  align-items: center;
  position: relative;
}
.rangeslider-inputs:after {
  content: "-";
  position: absolute;
  left: 114px;
  top: 50%;
  transform: translateY(-50%);
  color: #717070;
}
.rangeslider-input {
  width: 96px;
  height: 30px;
  text-align: center;
  color: #717070;
  border: 1px solid #c4c4c4;
  margin-right: 28px;
  position: relative;
}
.rangeslider input[type=range] {
  position: absolute;
}
.rangeslider input[type=range]:nth-child(2) {
  background: none;
}
.rangeslider input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}

/*# sourceMappingURL=main.css.map */
