.thankyoupage {
  text-align: center;
  margin-bottom: 150px;

  h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-top: 92px;
    margin-bottom: 12px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 188.8%;
    max-width: 80%;
    margin: auto;

    a {
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-item {
    padding-top: 25px;
    padding-bottom: 37px;
    border-bottom: 0.7px solid #c4c4c4;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    & + footer {
      margin-top: 100px;
    }

    &-delete {
      position: absolute;
      top: 0;
      right: 0;
      text-decoration: underline;
      color: #616161;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;

      &:hover {
        text-decoration: none;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 15px;
      line-height: 134.6%;
      color: #000000;
      margin-bottom: 10px;

      & ~ p {
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        margin-bottom: 4px;
        max-width: 230px;
      }
    }

    &-flex {
      display: flex;
      align-items: center;
    }

    &-info {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 7px;
        font-weight: normal;
        font-size: 13px;
        color: #717070;

        &.thankyoupage-item-info-price {
          margin-top: 7px;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          color: #000;
        }

        &.thankyoupage-item-info-name {
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          color: #000;

          & + p {
            color: #616161;
          }
        }
      }
    }

    img {
      width: 81px;
      height: 61px;
      object-fit: contain;
      margin-right: 15px;
    }
  }
}